.AddContact {
  padding: 10px;
  text-align: center;
  border: 1px solid #c9c7bf;
  border-radius: 5px;
  box-sizing: border-box;

  p {
    margin: 0;
  }

  .control {
    width: 100%;
  }

  .Button {
    margin-top: 15px;
  }
}